.App {
  text-align: center;
  background-color: #333;
  color:white;
  padding:1em;
}

.Header{
  background-color: #b0b;
  padding:1em;
}

.PlantList{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:1em;
  margin-top: 2em;;
}

.PlantListItem{
  border:0.5em solid white;
  padding:2em;
}

