<!DOCTYPE html>
<html>
  <head>
    <title>JOKES!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>JOKES!</h1>
    <ul>
      <% for(const joke of jokes){ %>
        <li>
          <p>Joke #<%= joke.id %></p>
          <p>Question: <%= joke.question %></p>
          <p>Answer: <%= joke.answer %></p>
          <p>By: <%= joke.author_name %></p>
        </li>
      <% } %>
    </ul>
  </body>
</html>
