<!DOCTYPE html>
<html>
  <head>
    <title>JOKES!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>JOKES!</h1>
    <form action="/jokes" method="POST">
      <input type="text" name="question" placeholder="Enter the question">
      <input type="text" name="answer" placeholder="Enter the answer">
      <input type="text" name="rating" placeholder="Enter the rating">
      <input type="text" name="author_id" placeholder="Enter the author_id">
      <button>Add joke!</button>
    </form>

    

  </body>
</html>
